.login {
  background: /*url(../../../../assets/images/admissionsbg.jpg)*/ #d3e5e9;
  background-size: cover;
  background-position: center;
  display: flex;
}

.loginRightPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}
