@import '../styles/colors';


.routineStepForm {
  border-top: 1px solid #eee;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  padding: 2rem;
  pointer-events: none;
  position: absolute;
  right: 0;

  &:not(.toEdit) {
    background: $lightGray;
  }

  &.isConfirmed {
    opacity: 1.0;
    pointer-events: all;
  }

  &.toEdit {
    border-bottom: 1px solid $lightGray;
    border-top: none;
    bottom: auto;
    display: flex;
    left: auto;
    padding-left: 1rem;
    position: relative;
    right: auto;

    input, select {
      border-color: transparent;
    }

    input[name="title"] {
      padding-left: 1rem;
    }

    select {
      background: white;
      border: 1px solid $lightGray;
    }
  }

  form {
    display: flex;
    flex: 1;
  }

  input, select {
    font-size: 2rem;
    transition: 0.25s;

    &:focus, &:hover {
      background: $lightGray;
    }
  }

  select, input[type="date"] {
    border-radius: 1rem;
    border: 1px solid $gray;
    color: $gray;
    margin-right: 1rem;
    padding: 0 2rem;
  }
}

.routineStepInput {
  border-radius: 1rem;
  border: 1px solid $gray;
  color: $gray;
  display: flex;
  flex: 1;
  font-size: 2rem;
  margin-right: 1rem;
  padding: 1rem 2rem;
  transition: 0.25s;

  &::placeholder {
    color: lighten($gray, 10%);
  }

  &:focus, &:hover {
    background: $lightGray;
  }
}

.button {
  align-items: center;
  background: $blue;
  border-radius: 0.5rem;
  border: none;
  color: lighten($blue, 20%);
  justify-content: center;
  padding: 0 1rem;

  &.removeButton {
    background: none;
    color: lighten($purple, 20%);
  }

  &.saveButton {
    background: $blue;
    color: lighten($blue, 20%);
    margin-right: 1rem;
  }
}