@import '../../styles/colors';
@import '../../styles/fonts';


.dashboardContainer {
  display: flex;
  height: 100vh;

  &.noRoutines {
    align-items: center;
    justify-content: center;
  }
}

.loadingRoutines {
  align-items: center;
  color: lighten($purple, 20%);
  display: flex;
  flex: 1;
  font-family: $accentFont;
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  padding: 4rem;
  line-height: 3rem;
}