@import '../styles/colors';
@import '../styles/fonts';


.externalContainer {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-height: 100vh;

  h1 {
    color: $purple;
    font-family: $accentFont;
    font-size: 4rem;

    svg {
      fill: lighten($purple, 20%);
      margin-bottom: -2px;
      margin-right: 1rem;
    }
  }

  a {
    color: $purple;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: underline;
  }
}
