@import '../styles/colors';
@import '../styles/fonts';


.logout {
  background: $purple;
  border-radius: 2rem;
  border: none;
  bottom: 2rem;
  color: lighten($purple, 30%);
  cursor: pointer;
  display: block;
  font-family: $accentFont;
  font-size: 1.5rem;
  left: 2rem;
  outline: none;
  padding: 1rem 0;
  position: absolute;
  transition: 0.25s;
  width: calc(100% - 4rem);

  &:hover {
    background: lighten($purple, 5%);
  }
}