@import '../styles/colors';
@import '../styles/fonts';


.logout {
  // margin: 0 2rem 2rem 2rem;
  font-size: 1.5rem;
  font-family: $accentFont;
  border-radius: 2rem;
  outline: none;
  background: $blue;
  color: white;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  display: block;
}